.addToCart {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 30px;
}

.name {
    color: blue;
    font-weight: bold;
}

.price {
    font-weight: 600;
}

.product-card {
    margin: 20px;
}

.product-image {
    height: 300px;
    width: auto;
}