.checkout {
    background-color: orangered;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 30px;
}

.checkoutCont {
    background-color: blanchedalmond;
}